<?xml version="1.0" encoding="UTF-8"?>
<menus isUpdateMenus="true">	
	<menu text="学校管理">
		<meun text="学校基本信息管理" xtype="School"/>
	</menu>
	<menu text="学生管理">
		<menu text="学生基本信息管理" xtype="Student"/>			
		<meun text="统计报表">
			<meun text="月报表" xtype="yue"/>	
		</meun>
	</menu>	
	<menu text="成绩管理">
		<meun text="成绩统计" xtype="CJTJ"/>
		<meun text="成绩分析" xtype="CJFX"/>		
	</menu>	
	<menu text="系统管理">		
		<menu text="资源管理" xtype="SystemResources"/>
		<menu text="角色管理" xtype="Role"/>
		<menu text="系统菜单维护" xtype="Menu"/>
	</menu>
</menus>